@import "../../styles/variables";

.establishment-details {
    background: linear-gradient(to top, #ffffff, #D7DDE8);
    &__content {
        background: white;
        box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
        border-radius: 5px;
        padding-bottom: 30px;
    }
    &__top {
        background-color: lighten(#70C1B3, 20%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 100px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 100px;
        padding-top: 20px;
        // F4E04D  CCAD8F #FDB833 lighten(#50C5B7, 20%);
    }
    &__image {
        border: 4px solid $mainColor;
        border-radius: 50%;
        display: block;
        height: 180px;
        margin: auto;
        width: 180px;
        background-color: #ffffff;
    }
    &__name {
        font-family: $font-primary;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }
    &__address {
        color: $fontColor-secondary;
        font-family: $font-primary;
        text-align: center;
    }
    &__description {
        border-bottom: 0.5px solid $color-primary;
        font-family: $font-primary;
        font-size: 18px;
        margin-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        width: 100%;
    }
    &__workingHours-title {
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 600;
        margin-top: 15px;
        text-align: center;
    }
    &__workingHours {
        font-family: $font-primary;
        text-align: center;
    }
    &__offer-title {
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 600;
        margin-top: 15px;
        text-align: center;
    }
    &__offer {
        font-family: $font-primary;
        text-align: center;
    }
}

.name {
    font-family: $font-primary;
}