@import "../../../styles/variables";

.custom-card-establishment {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 10px 20px 20px 20px;
  position: relative;
  height: 100%;
  @media(max-width: 767px) {
    text-align: center;
  }

    &__image-wrapper {
      display: table-cell;
      vertical-align: middle;
      width: 10em;
      @media(max-width: 767px) {
        display: block;
        width: 100%;
      }
    }
    &__image {
      border-radius: 50%;
      height: 140px;
      width: 140px;
    }
    &__content {
      display: table-cell;
      vertical-align: middle;
      @media(max-width: 767px) {
        display: block;
      }
    }

    &__title {
      font-size: 22px;
      font-weight:600;  
      overflow: hidden;
      text-overflow: ellipsis;

      @media(max-width: 575px) {
        font-size: 23px;
      }
    }

    &__link {
      color: $mainColor;
      text-decoration: none!important;
      &:hover {
        color: black;
        text-decoration: none!important;
      }
    }

    &__location-icon {
      margin-right: 5px;
  }

    &__language-wrapper {
      position: absolute;
      right: 10px;
      top: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__language-icon {
      margin-left: 10px;
      width: 23px;
    }
    &__text {
      display: table-cell;

      @media (max-width: 575px) {
        font-size: 14px;
      }
      &__red{
        color:red;
      }
      &__yellow{
        color:#FFD733;
      }
      &__green{
        color:#4CFF33;
      }
      
    }

    &__location-wrapper {
      color: $fontColor-secondary;
      font-family: $font-primary;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__location-icon {
      display: inline;
      
    }
    &__location-text {
      display: inline;
    }

    &__time-wrapper {
      margin-top: 12px;
      margin-left: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__time-icon {
        display: table-cell;
        float: left;
        margin-top: 5px;
        margin-right: 5px;
        width: 18px;
    }

    &__participants-wrapper {
      margin-left: 18px;
      margin-top: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__participants-icon {
      display: table-cell;
      float: left;
      margin-right: 5px;
      width: 18px;
    }

    &__button {
      border: none;
      border-radius: 5px;
      padding: 5px 20px;
      color: white;
      background: white;
      font-family: $font-primary;
      margin-left: 10px;
      @media(max-width: 576px) {
        margin-left: auto;
        margin-right: auto;
      }

      &:hover {
          background: #4ea5d9;
          color: white;
          outline: none;
      } 
    }
    &__button-hours {
      background:  white;
      border: 2px solid #31E981;
      border-radius: 5px;
      color: #31E981;
      font-family: 'Lato', sans-serif;
      outline: none!important;
      padding: 3px 8px;
      margin-top: 20px;
      @media(max-width: 576px) {
        display: block;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
      }

    }
    &__clock-icon {
      margin-right: 5px;
    }



    &__code-icon {
      width: 30px;
    }
}

.hours-table {
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
  &__day {
    font-weight: 600;
    text-align: left;
  }
  &__time {
    text-align: right;
  }
}

.ant-popover {
  font-family: $font-primary;
  z-index: 99999!important;
}
.ant-popover-arrow {
display: none!important;
}
.ant-popover-title {
  font-size: 16px;
  font-weight: 600!important;
  text-align: center;
}
.ant-popover-inner {
  border: 2px solid #31E981!important;
  color: black;
  font-size: 14px;
  width: 220px;
}
.ant-popover-inner-content {
  padding: 5px 16px 16px 16px!important;
}
