@import "../../styles/variables";

.footer {
    background: $mainColor;
    position: fixed;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    z-index: 10000;

    &__terms {
        background:none!important;
        color:white!important;
        border:none!important; 
        padding:0!important;
        font: inherit;
        font-size: 12px;
        /*border is optional*/
        border-bottom:1px solid #444; 
        cursor: pointer;
        &:hover {
            background:none!important;
            color:white!important;
            border:none!important; 
            padding:0!important;
            font: inherit;
            font-size: 12px;
            /*border is optional*/
            border-bottom:1px solid #444; 
            cursor: pointer;
        }
    }

}

.ant-modal-wrap {
    z-index: 10001;
    
}
.ant-modal-content {
    height: 60vh;
    overflow-y: scroll;
}

.ant-modal-footer {
    display: none;
}