
@import "../../styles/variables";

.register {
    &__form {
        background: white;
        box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
        border-radius: 5px;
    }
    &__title {
        border-bottom: 0.5px solid $mainColor;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        font-weight: bolder;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
        width: 90%;
        padding: 10px;
    }

    &__select {
        overflow: hidden;
    }
    &__terms-wrapper .ant-form-item-control-wrapper .ant-form-item-control{
        line-height: 10px!important;
    }
    &__button {
        border: none;
        border-radius: 10px;
        padding: 5px 20px;
        color: white;
        background: #44cfcb; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #44cfcb 1%, #4ea5d9 47%, #4357ad 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #44cfcb 1%,#4ea5d9 47%,#4357ad 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #44cfcb 1%,#4ea5d9 47%,#4357ad 100%);
        font-family: $font-primary;
        font-size: 18px;
        display: block;
        margin-left: auto;
        margin-right: auto;


        &:hover {
            background: #4ea5d9;
            color: white;
            outline: none;
        } 
    }
}