@import "../../styles/variables";

.register {
    &__terms-wrapper .ant-form-item-control-wrapper .ant-form-item-control{
        line-height: 10px!important;
    }
    &__terms {
        background:none!important;
        color:$mainColor!important;
        border:none!important; 
        padding:0!important;
        font: inherit;
        /*border is optional*/
        border-bottom:1px solid #444; 
        cursor: pointer;
        &:hover {
            background:none!important;
            color: $mainColor!important;
            border:none!important; 
            padding:0!important;
            font: inherit;
            /*border is optional*/
            border-bottom:1px solid #444; 
            cursor: pointer;
        }
    }
}