@import "variables";

.loadingContainer {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: $mainColor;
}

.primaryButton {
  background-color: $mainColor;
  border-color: $mainColor;

  &:hover,
  &:active,
  &.active,
  &:focus {
    background-color: $mainFontColor;
    color: $mainColor;
    border-color: $mainColor;
  }
}

.anticon-scan,
.anticon.edit,
.anticon-left-circle {
  vertical-align: 0.125em !important;
}

.customInput {
  input {
    border-color: $mainColor;
    outline: none;

    &:hover,
    &:focus,
    &:focus-within,
    &:active,
    &:visited,
    &.input:not(.ant-input-disabled) {
      border-color: $mainColor;
      outline: none;
    }
  }
}

.ant-switch-checked {
  background-color: $mainColor !important;
}

.ant-alert {

  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
}

.ant-alert-error {
  background-color: #FFBAB6;
}

.ant-alert-warning {
  background-color: #FFECAB;
}

.ant-alert-message {
  font-weight: bold;
}

.ant-alert-fixed {
  position: fixed !important;
  top: $navbarHeight;
  left: 0;
  right: 0;
  z-index: 1000;

  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
}