@import url('https://fonts.googleapis.com/css?family=Lato');

$mainColor: #4357ad;
$mainFontColor: #ffffff;
$fontColor: #000000;
$fontColor-secondary: #909BA3;

$color-primary: #EBEBEB;

$footerHeight: 50px;
$navbarHeight: 70px;
$font-primary: 'Lato', sans-serif;
