@import '../../styles/defaultStyles.scss';

.register-bg {
    background: linear-gradient(to top, #ffffff, #D7DDE8);
}
.selectRegister {
    a,
    a:hover,
    a:active {
        text-decoration: none;
    }


    &__option {
        box-sizing: border-box;
        padding: 40px 10px;
        margin: 40px 10px;
        border-radius: 5px;
        cursor: pointer;
        background: #44cfcb; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #44cfcb 1%, #4ea5d9 47%, #4357ad 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #44cfcb 1%,#4ea5d9 47%,#4357ad 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #44cfcb 1%,#4ea5d9 47%,#4357ad 100%);
        color: $mainFontColor;
        font-weight: bold;
        text-align: center;
    }
}