@import '../../styles/defaultStyles.scss';
@import "../../styles/variables";


.landing-container {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
  text-align: center;
  
  &__bg{
    background: url('../../media/portada.jpg') no-repeat;
    background-size: cover;
    filter: blur(8px);
    position: relative;
    height: 100%;
    width: 100%;
  }
  &__content {
    position: absolute;
    @media(max-width:425px) {
      top: 9px;
    }
  }
 
  .logo {
    width: 70%;
    max-width: 300px;
  }

  .message,
  .navContainer {
    color: white;
  }

  .message {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .navContainer {
    display: flex;
    @media(max-width: 575px) {
      display: block;
    }
    a {
      text-decoration: none;
      &:hover,
      &:active,
      &.active {
        text-decoration: none;
      }
    }

    .navOption {
      box-sizing: border-box;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 600;
      margin: 20px;
      padding: 7px 10px;;
      background: white; /* Old browsers */
      color: black;
      border-radius: 5px;
      font-size: 18px;

    }
  }
 
  
}


.arrow-down {
  color: $mainColor;
}

.home-info {

  margin: 0 40px $footerHeight 40px;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  @media(max-width: 575px) {
    margin: 0;
  }

&__title {
  font-family: $font-primary;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

&__description {
  text-align: center;
}

&__pricing-col {
  @media(max-width: 575px) {
    margin-bottom: 20px;
  }
}
&__pricing-title {
  font-size: 18px;
}

&__pricing-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}
&__discount {
  color: red;
}
&__monthly {
  color: #FF8C00; 
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 44px;
}
&__quarterly {
  color: #FFD700;
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;

}
&__annual {
  color: #32CD32;
  font-weight: 600;
  font-size: 20px;
  margin-top: 15px;

}
&__total {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}
&__team-card {
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-bottom: 5px;
  text-align: center;
  width: 250px;
  max-width: 100%;
  box-sizing: border-box;

}
&__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  max-width: 100%;
 }
}