@import '../../styles/defaultStyles.scss';
@import "../../styles/variables";


.landingContainer {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background: url('../../media/barlingo-background.webp') no-repeat;
  background-size: cover; 

  .logo {
    width: 60%;
    max-width: 300px;
  }

  .message,
  .navContainer {
    color: $mainColor;
  }

  .message {
    font-size: 25px;
  }

  .navContainer {
    display: flex;
    a {
      text-decoration: none;
      &:hover,
      &:active,
      &.active {
        text-decoration: none;
      }
    }

    .navOption {
      box-sizing: border-box;
      margin: 20px;
      padding: 15px 20px;
      background-color: $mainColor;
      color: $mainFontColor;
      border-radius: 10px;
      font-size: 15px;
      border: 2px solid $mainColor;
      box-shadow: 5px 5px 10px;

      &:hover {
        color: $mainColor;
        background-color: $mainFontColor;
      }
    }
  }
}

.arrow-down {
  color: $mainColor;
}

.home-info {

&__title {
  font-family: $font-primary;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

&__description {
  text-align: center;
}
&__pricing-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}
&__monthly {
  color: #FF8C00; 
  font-weight: 600;
  font-size: 20px;
}
&__quarterly {
  color: #FFD700;
  font-weight: 600;
  font-size: 20px;

}
&__annual {
  color: #32CD32;
  font-weight: 600;
  font-size: 20px;

}
&__team {
  margin-bottom: 120px;
}
&__team-card {
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-bottom: 5px;
  text-align: center;
  width: 250px;

}
&__img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
 }
}