@import "../../styles/variables";

.content {
  width: 100%;
  box-sizing: border-box;
  padding: $navbarHeight + 30px 40px $footerHeight + 30px 40px;
}

.contentWithWarning {
  padding-top: $navbarHeight + 100px !important;
}

.contentWithBackground {
  position: absolute;
  top: $navbarHeight;
  bottom:0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  background: url($backgroundUrl) no-repeat;
  background-size: cover; 
  overflow-x: hidden;
  overflow-y: auto;
}
