@import "../../styles/defaultStyles";

.loginContainer {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  .logo {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__button {
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    background: #44cfcb; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #44cfcb 1%, #4ea5d9 47%, #4357ad 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #44cfcb 1%,#4ea5d9 47%,#4357ad 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #44cfcb 1%,#4ea5d9 47%,#4357ad 100%);
    font-family: $font-primary;
    margin-left: 10px;
    @media(max-width: 576px) {
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
        background: #4ea5d9;
        color: white;
        outline: none;
    } 
  }
}