@import '../../styles/defaultStyles.scss';

.optionsContainer {
    max-width: 600px;
    margin: 0 auto;

    .option {
        margin-bottom: 20px;
        border: 1px solid black;

        &.active {
            background-color: #8d8d8d;
            color: #ffffff;
        }

    }

}